<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
      <h1>歡迎來到 <%= title %></h1>
      <a href="/api/urls">短網址生成工具</a>
    </center>
  </body>
</html>
