<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>歡迎使用 <%= title %></h1>
    <form method="post" action="/">
      輸入網址: <input name="orig_url" type="text">
      <button type="submit">生成</button>
    </form>
  </body>
</html>
